.root{
    -fx-background-color: #001831;
    -fx-alignment: center;
    -fx-border-color: #d4af37;
    -fx-border-width: 5px;
    -fx-font-family: Verdana, sans-serif;

}

#addSales-main{
    -fx-background-color: #001831;
    -fx-alignment: center;
    -fx-border-color: #d4af37;
    -fx-border-width: 5px;
    -fx-font-family: Verdana, sans-serif;
    -fx-end-margin: 20px;
    -fx-start-margin: 20px;
}

Label {
    -fx-font-family: Verdana, sans-serif;
    -fx-font-size: 20px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-border-color: #d4af37;
    -fx-text-fill: white;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-padding: 10px;
    -fx-end-margin: 20px;
    -fx-start-margin: 20px;
}

Text-field {
    -fx-font-family: Verdana, sans-serif;

    -fx-text-fill: #d4af37;
    -fx-font-size: 20px;
    -fx-padding: 5px;
    -fx-border-color: #d4af37;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-end-margin: 20px;
    -fx-start-margin: 20px;
}

Button{
    -fx-font-family:Verdana, sans-serif;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-border-color: #d4af37;
    -fx-font-size: 20px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-background-color: #001831;
    -fx-end-margin: 20px;
    -fx-start-margin: 20px;
}
.vBox{
    -fx-border-width: 2px;
    -fx-border-color: #d4af37;
}